# STM32CubeIDE metadata
peripheral-drivers/.metadata/

# Build artifacts
peripheral-drivers/stm32f4xx-drivers/Debug/
peripheral-drivers/stm32f4xx-drivers/Release/
*.bin

# Settings files
peripheral-drivers/stm32f4xx-drivers/.settings/
*.xml
*.prefs

# Eclipse project files
peripheral-drivers/stm32f4xx-drivers/.cproject
peripheral-drivers/stm32f4xx-drivers/.project
*.xmi

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Log files
*.log
*.cyclo

# History and index files
*.history
*.index
*.list

# Makefiles
*.mk

